* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;


}

.Head-nar {
  /* background: #4ec; */
  background: #fff;
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  font-size: 2.5rem;
  color: #00f;
  font-weight: bold;
}

/* Navigation Bar */

.nab-container {
  background: #1a0827e5;
  width: 250px;
  padding: 20px 30px;
  height: 90vh;
  color: #eee;

}

.nab-container nav ul .item {
  list-style: none;
  border-bottom: #fff 1px solid;
  padding: 10px 0px;
}

.nab-container nav ul .item:last-child {
  border: none;
}

.nab-container nav ul .sub-item {
  list-style: none;
  padding: 5px 0px;
}

.nab-container .sub-item:hover {
  cursor: pointer;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.sign {
  display: inline-block;
  width: 440px;
  padding: 40px;
  background: #fff;

}

.sign input {
  width: 350px;
  border: #000 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
}

.sign #btn-group {
  margin-top: 40px;
  display: flex;
}

.sign #btn-group button {
  padding: 5px 30px;
  font-size: 1.5rem;
  background: blue;
  color: #fff;
  border: none;
  border-radius: 5px;

}

.sign #btn-group a {
  padding: 5px;
  margin-left: 20px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.sign #btn-group button:hover,
a:hover {
  cursor: pointer;
}

/* Dashboard */

.main-content {
  display: flex;
  /* float: right; */
}

.content {
  flex: 1;
  padding: 20px 40px;
  background: #eee;
}

.content h1{
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
}

.content .menu-conten {
  margin-top: 30px;
}

.content .summary {
  display: flex;
  justify-content: space-between;
}

.content .customer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content .admin-summary {
  background: #fff;
  width: 20%;
  height: 20%;
  display: block;
  padding: 10px;
}


.content .statement {
  background: #fff;
  display: inline-block;
  justify-content: center;
  border: #eee 1px solid;
  border-radius: 10px;
  margin: 6px;
}

.statement div {
  padding: 10px;
}

.loancard h3,
.statement h3 {
  background: #fff;
  padding: 10px;
  color: rgba(139, 39, 139, 0.933);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: #eee 1px solid;
  font-weight: bold;
}

.admin-summary p {
  margin-top: 20px;
}

/* Customers */

.content .create-customer {
  background: #fff;
  padding: 1rem 2rem 1rem 2rem;
  width: 600px;

}

.content .create-customer form {
  margin-top: 20px;
  padding: 10px;
  display: block;
  /* justify-content: space-between; */
}

.content .create-customer #form-info {
  display: flex;
  gap: 40px;

}

.create-customer .form {
  display: block;
  font-size: 1.2rem;
}

.create-customer .form input {
  width: 200px;
  border-bottom: #000 1px solid;
}

.create-customer form .btn-group {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 450px;

}

.btn {
  font-size: 1.3rem;
  color: #fff;
  padding: 10px 40px;
  background: blue;
  border-radius: 8px;
  border: none;
}

.trans-input .address-con {
  padding: 20px;
  border: #000 1px solid;
  display: inline-block;
}

.inner-border {
  margin-top: 20px;
  padding: 30px;
  border: #000 1px solid;
}