@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-context {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
  background: url("./assets/photo-1.jpg") no-repeat center center/cover;
}